<div style="margin-bottom: 12px;">
  <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="openDialog(false)">
    <span>新增菜单</span>
  </button>

  <nz-input nzSize="large" type="text"
            nzPlaceHolder="搜索..."
            [(ngModel)]="condition.q"
            (input)="searchKeyUp.next($event)"
            (compositionstart)="inputLock = true"
            (compositionend)="inputLock = false"
            style="width: 300px;float: right;">
    <ng-template #suffix>
      <i class="anticon anticon-loading anticon-spin" *ngIf="tableLoading"></i>
    </ng-template>
  </nz-input>
</div>

<div>
  <nz-table #nzTable [nzAjaxData]="products" [nzPageSize]="15"
            nzSize="small" [nzShowTotal]="true" [nzTotal]="total"
            [(nzPageIndex)]="page" (nzPageIndexChange)="listProduct('refresh')"
            [nzLoading]="tableLoading">
    <thead nz-thead>
    <tr>
      <th nz-th nzWidth="20%"><span>菜单名</span></th>
      <th nz-th nzWidth="20%">
        <span>类别</span>
        <nz-dropdown>
          <i class="anticon anticon-filter" nz-dropdown
             [style.color]="condition.category ? 'red' : ''"></i>
          <ul nz-menu>
            <li nz-menu-item *ngFor="let option of categoryOptions"
                (click)="condition.category = option;listProduct('reload')">
              <span>{{option}}</span>
            </li>
          </ul>
          <div nz-table-filter>
            <span nz-table-filter-clear (click)="condition.category = '';listProduct('reload')">重置</span>
          </div>
        </nz-dropdown>
      </th>
      <th nz-th nzWidth="10%"><span>价格</span></th>
      <th nz-th nzWidth="30%"><span>选项</span></th>
      <th nz-th nzWidth="10%">
        <span>状态</span>
        <nz-dropdown>
          <i class="anticon anticon-filter" nz-dropdown
             [style.color]="condition.valid !== null ? 'red' : ''"></i>
          <ul nz-menu>
            <li nz-menu-item (click)="condition.valid = 1;listProduct('reload')">
              <span>在售</span>
            </li>
            <li nz-menu-item (click)="condition.valid = 0;listProduct('reload')">
              <span>已下架</span>
            </li>
          </ul>
          <div nz-table-filter>
            <span nz-table-filter-clear (click)="condition.valid = null;listProduct('reload')">重置</span>
          </div>
        </nz-dropdown>
      </th>
      <th nz-th nzWidth="10%"><span>操作</span></th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data; let i = index;"
        [class.invalid-product]="!data.valid">
      <td nz-td nzWidth="20%">
        {{data.name}}
        <span *ngIf="data.spicy">🌶</span>
      </td>
      <td nz-td nzWidth="20%">
        {{data.category}}
        <span *ngIf="data.part_of_month">
          {{
          data.part_of_month === 1 ? ' - 上旬' :
          (data.part_of_month === 2 ? ' - 中旬' : ' - 下旬')
          }}
        </span>
      </td>
      <td nz-td nzWidth="10%">{{data.price}}</td>
      <td nz-td nzWidth="30%">
        <nz-tag *ngFor="let option of data.product_options" [nzClosable]="true" (nzClose)="deleteOptions(option)">
          {{option.option_name}}
        </nz-tag>
        <button nz-button *ngIf="!inputVisible[i]"
                [nzSize]="'small'" [nzType]="'dashed'"
                (click)="showInput(i)">新选项
        </button>
        <input nz-input nzSize="small" #option_input
               [style.display]="inputVisible[i] ? 'inline' : 'none'"
               type="text"
               [(ngModel)]="optionValue[i]"
               style="width: 50px;"
               (blur)="handleInputConfirm(data, i)" (keydown.enter)="handleInputConfirm(data, i)">

      </td>
      <td nz-td nzWidth="10%">{{data.valid ? '在售' : '已下架'}}</td>
      <td nz-td nzWidth="15%">
        <a (click)="openDialog(data)">编辑</a>
        <span nz-table-divider></span>
        <nz-popconfirm [nzTitle]="'确定吗？'" (nzOnConfirm)="confirmChangeStatus(data)">
          <a nz-popconfirm>{{data.valid ? '下架' : '上架'}}</a>
        </nz-popconfirm>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

<ng-template #product_dialog>
  <form nz-form [formGroup]="productForm" (submit)="saveProduct(!productForm.id)">
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="4">
        <label for="name" nz-form-item-required>菜单名</label>
      </div>
      <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="productForm.get('name')">
        <nz-input [nzSize]="'large'" formControlName="name" [nzId]="'name'"></nz-input>
        <div nz-form-explain *ngIf="productForm.get('name').dirty && productForm.get('name').hasError('required')">
          请填写菜单名
        </div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="4">
        <label for="category">类别</label>
      </div>
      <div nz-form-control nz-col [nzSm]="20" [nzValidateStatus]="productForm.get('category')">
        <nz-select style="width: 120px;" formControlName="category" nzAllowClear>
          <nz-option *ngFor="let option of categoryOptions"
                     [nzLabel]="option"
                     [nzValue]="option">
          </nz-option>
        </nz-select>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="4">
        <label for="price">价格</label>
      </div>
      <div nz-form-control nz-col [nzSm]="20" [nzValidateStatus]="productForm.get('price')">
        <nz-input-number [nzMin]="1" formControlName="price"></nz-input-number>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="4">
        <label for="part_of_month">所属旬度</label>
      </div>
      <div nz-form-control nz-col [nzSm]="20" [nzValidateStatus]="productForm.get('part_of_month')">
        <nz-radio-group formControlName="part_of_month">
          <label nz-radio-button [nzValue]="0">
            <span>不限</span>
          </label>
          <label nz-radio-button [nzValue]="1">
            <span>上旬</span>
          </label>
          <label nz-radio-button [nzValue]="2">
            <span>中旬</span>
          </label>
          <label nz-radio-button [nzValue]="3">
            <span>下旬</span>
          </label>
        </nz-radio-group>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="4">
        <label for="day_of_week">每周特色</label>
      </div>
      <div nz-form-control nz-col [nzSm]="20" [nzValidateStatus]="productForm.get('day_of_week')">
        <nz-radio-group formControlName="day_of_week">
          <label nz-radio-button [nzValue]="0">
            <span>不限</span>
          </label>
          <label nz-radio-button [nzValue]="1">
            <span>一</span>
          </label>
          <label nz-radio-button [nzValue]="2">
            <span>二</span>
          </label>
          <label nz-radio-button [nzValue]="3">
            <span>三</span>
          </label>
          <label nz-radio-button [nzValue]="4">
            <span>四</span>
          </label>
          <label nz-radio-button [nzValue]="5">
            <span>五</span>
          </label>
          <label nz-radio-button [nzValue]="6">
            <span>六</span>
          </label>
          <label nz-radio-button [nzValue]="7">
            <span>日</span>
          </label>
        </nz-radio-group>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="4">
        <label for="spicy">辣么</label>
      </div>
      <div nz-form-control nz-col [nzSm]="20" [nzValidateStatus]="productForm.get('spicy')">
        <nz-switch formControlName="spicy"></nz-switch>
      </div>
    </div>
  </form>
</ng-template>
