.main {
  display: flex;
  .side-block {
    width: 280px;
  }
  .product-block {
    margin-left: 20px;
    flex: 1;
  }
}

.price {
  width: 70px;
  color: red;
  font-size: 16px;
  text-align: right;
}

// 订单团
.group-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 2px 2px 5px #e1e1e1;
  padding-left: 10px;
  margin-bottom: 10px;

  .group-item-info {
    flex: 1;
    padding-right: 10px;
  }

  .group-item-info-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
  }

  .group-item-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
  }
}

.item-hover:hover {
  cursor: pointer;
}

.item-selected {
  background-color: #e8fff8;
}

// 订单
.order-item {
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 0;
}

.order-item-user-line {
  display: flex;
  align-items: center;

  .order-username {
    margin-left: 10px;
    flex: 1;
  }
}

.order-item-line {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .order-remove {
    width: 23px;
    text-align: center;
  }
  .order-name {
    margin-left: 10px;
    flex: 1;
  }
  .order-quantity {
    width: 60px;
    text-align: right;
  }
}

.order-remark {
  margin-left: 33px;
  margin-top: 5px;
  font-size: 10px;
  span {
    padding: 2px 15px;
    background-color: #f1f1f1;
  }
}


