<div class="main">
  <div class="side-block">
    <div style="margin-bottom: 10px;">
      <button nz-button [nzType]="'primary'">
        <span>我要建团</span>
      </button>
    </div>

    <div class="group-item" *ngFor="let group of groups" (click)="selectGroup(group.id)">
      <div class="group-item-info">
        <div class="group-item-info-line">
          <nz-avatar nzSize="small" nzIcon="user" [nzSrc]="group.composer_img || ''"></nz-avatar>
          <span style="margin-left: 10px;">{{group.name}}</span>
        </div>
        <div class="group-item-info-line">
          <nz-tag [nzColor]="'orange'">征集中</nz-tag>
          <span>还剩 {{group.remainTime}}</span>
        </div>
      </div>
      <div class="group-item-arrow">
        <i class="anticon anticon-right"></i>
      </div>
    </div>
  </div>

  <div class="product-block">
    <nz-table #nzTable [nzAjaxData]="products" [nzPageSize]="15"
              nzSize="small" [nzShowTotal]="true" [nzTotal]="total"
              [(nzPageIndex)]="page" (nzPageIndexChange)="listTodayProduct('refresh')"
              [nzLoading]="tableLoading">
      <thead nz-thead>
      <tr>
        <th nz-th nzWidth="10%">#</th>
        <th nz-th nzWidth="30%"><span>菜单名</span></th>
        <th nz-th nzWidth="20%">
          <span>类别</span>
          <nz-dropdown>
            <i class="anticon anticon-filter" nz-dropdown
               [style.color]="condition.category ? 'red' : ''"></i>
            <ul nz-menu>
              <li nz-menu-item *ngFor="let option of categoryOptions"
                  (click)="condition.category = option;listTodayProduct('reload')">
                <span>{{option}}</span>
              </li>
            </ul>
            <div nz-table-filter>
              <span nz-table-filter-clear (click)="condition.category = '';listTodayProduct('reload')">重置</span>
            </div>
          </nz-dropdown>
        </th>
        <th nz-th nzWidth="20%"><span>价格</span></th>
        <th nz-th nzWidth="20%"><span>操作</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data; let i = index;"
          [class.invalid-product]="!data.valid">
        <td nz-td nzWidth="10%">{{i+1}}</td>
        <td nz-td nzWidth="30%">{{data.name}}</td>
        <td nz-td nzWidth="20%">{{data.category}}</td>
        <td nz-td nzWidth="20%">{{data.price}}</td>
        <td nz-td nzWidth="20%">
          <a>点餐</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
