<div class="main">
  <div class="side-block">
    <div style="display: flex;justify-content: space-between; align-items: center;margin-bottom: 10px;">
      <button *ngIf="sideBlockStatus === 1" nz-button [nzType]="'primary'" (click)="openAddGroup()">建团</button>
      <button *ngIf="sideBlockStatus === 2" nz-button (click)="cancelAddGroup()">取消</button>
      <button *ngIf="sideBlockStatus === 3" nz-button (click)="exitGroup()">返回</button>

      <button *ngIf="sideBlockStatus === 2" nz-button
              [nzType]="'primary'"
              [nzLoading]="waitingResp"
              (click)="addGroup()">保存
      </button>

      <nz-button-group *ngIf="sideBlockStatus === 3 && isGroupOnwer(groupId) && isGroupActive(groupId)">
        <button nz-button (click)="changeGroupStatus(false)"
                [nzLoading]="waitingResp">
          <span>完成</span>
        </button>
        <button nz-button [nzType]="'danger'" (click)="changeGroupStatus(true)"
                [nzLoading]="waitingResp">
          <span>取消</span>
        </button>
      </nz-button-group>

      <div *ngIf="sideBlockStatus === 1" style="float: right;">
        <nz-checkable-tag [nzChecked]="groupType === 1" (nzChange)="switchGroups($event, 1)">
          征集中
        </nz-checkable-tag>
        <nz-checkable-tag [nzChecked]="groupType === 2" (nzChange)="switchGroups($event, 2)">
          我发起的
        </nz-checkable-tag>
        <nz-checkable-tag [nzChecked]="groupType === 3" (nzChange)="switchGroups($event, 3)">
          我参与的
        </nz-checkable-tag>
      </div>
    </div>

    <!-- 添加订单团 -->
    <div *ngIf="sideBlockStatus === 2">
      <form nz-form [formGroup]="groupAddForm" (ngSubmit)="addGroup()">
        <div nz-form-item>
          <div nz-form-control [nzValidateStatus]="groupAddForm.get('groupName')">
            <nz-input formControlName="groupName" [nzPlaceHolder]="'团组名称'" [nzSize]="'large'">
            </nz-input>
          </div>
        </div>
        <div nz-form-item>
          <div nz-form-control [nzValidateStatus]="groupAddForm.get('dueTime')">
            <nz-timepicker [nzSize]="'large'" formControlName="dueTime" [nzFormat]="'HH:mm'"></nz-timepicker>
          </div>
        </div>
      </form>
    </div>

    <!-- 订单团列表 -->
    <div *ngIf="sideBlockStatus !== 2">
      <div class="groups-title">
        {{sideBlockStatus === 1 ? '订单团列表' : '订单团'}}
      </div>
      <nz-spin *ngIf="groupLoading" [nzTip]="'正在读取数据...'" style="text-align: center;"></nz-spin>
      <div *ngIf="!groupLoading && groups.length === 0" class="groups-none">
        不存在的
      </div>
      <ng-template ngFor let-group [ngForOf]="groups">
        <div class="group-item"
             [class.item-hover]="sideBlockStatus === 1"
             [class.item-selected]="group.id === groupId"
             *ngIf="sideBlockStatus === 1 || group.id === groupId"
             (click)="selectGroup(group.id)">
          <div class="group-item-info">
            <div class="group-item-info-line">
              <nz-avatar nzSize="small" nzIcon="user" [nzSrc]="group.composer?.avatar_url || ''"></nz-avatar>
              <span style="margin-left: 10px;flex: 1;">{{group.composer?.username}}</span>
              <span class="price">￥{{group.totalPrice}}</span>
            </div>
            <div class="group-item-info-line">
              <span class="group-item-name">{{group.name}}</span>
            </div>
            <div class="group-item-info-line">
              <nz-tag [nzColor]="'green'" *ngIf="group.status === 1">征集中</nz-tag>
              <nz-tag [nzColor]="'red'" *ngIf="group.status === 3">已取消</nz-tag>
              <nz-tag [nzColor]="'blue'" *ngIf="group.status === 2">已完成</nz-tag>
              <span>{{formatRemainTime(group.remainTime)}}</span>
            </div>
          </div>
          <div class="group-item-arrow" *ngIf="sideBlockStatus === 1">
            <i class="anticon anticon-right"></i>
          </div>
        </div>
      </ng-template>
    </div>

    <!-- 订单列表 -->
    <div *ngIf="sideBlockStatus === 3">
      <div class="orders-title">
        订单列表
      </div>
      <div *ngIf="orders.length === 0" class="orders-none">
        不存在的
      </div>
      <ng-template ngFor let-order [ngForOf]="orders">
        <div class="order-item">
          <div class="order-item-user-line">
            <nz-avatar nzSize="small" nzIcon="user" [nzSrc]="order.user?.avatar_url || ''"></nz-avatar>
            <span class="order-username">{{order.user.username || order.user.nickname}}</span>
            <span class="price">￥{{order.totalPrice}}</span>
          </div>
          <ng-template ngFor let-row [ngForOf]="order.rows">
            <div class="order-item-line">
              <div class="order-remove">
                <a *ngIf="isGroupActive(groupId) && order.user.id === store.user?.id" (click)="removeOrder(row.id)">
                  <i class="anticon anticon-close"></i>
                </a>
              </div>
              <span class="order-name">{{row.product_name}}</span>
              <span class="order-quantity">{{row.quantity}}</span>
            </div>
            <div *ngIf="row.remark" class="order-remark">
              <span>{{row.remark}}</span>
            </div>
          </ng-template>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="product-block">
    <nz-tabset>
      <nz-tab>
        <ng-template #nzTabHeading>
          表格式菜单
        </ng-template>
        <nz-table #nzTable [nzDataSource]="products" [nzIsPagination]="false"
                  nzSize="small" [nzShowTotal]="true"
                  [nzLoading]="tableLoading">
          <thead nz-thead>
          <tr>
            <th nz-th nzWidth="40%"><span>菜单名</span></th>
            <th nz-th nzWidth="20%">
              <span>类别</span>
              <nz-dropdown>
                <i class="anticon anticon-filter" nz-dropdown
                   [style.color]="condition.category ? 'red' : ''"></i>
                <ul nz-menu>
                  <li nz-menu-item *ngFor="let option of categoryOptions"
                      (click)="condition.category = option;listTodayProduct('reload')">
                    <span>{{option}}</span>
                  </li>
                </ul>
                <div nz-table-filter>
                  <span nz-table-filter-clear (click)="condition.category = '';listTodayProduct('reload')">重置</span>
                </div>
              </nz-dropdown>
            </th>
            <th nz-th nzWidth="20%"><span>价格</span></th>
            <th nz-th nzWidth="20%" *ngIf="groupId && (isGroupOnwer(groupId) || !isGroupExpired(groupId))">
              <span>操作</span>
            </th>
          </tr>
          </thead>
          <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data; let i = index;"
              [class.invalid-product]="!data.valid">
            <td nz-td nzWidth="40%">
              {{data.name}}
              <span *ngIf="data.spicy">🌶</span>
            </td>
            <td nz-td nzWidth="20%">{{data.category}}</td>
            <td nz-td nzWidth="20%">{{data.price}}</td>
            <td nz-td nzWidth="20%" *ngIf="groupId && (isGroupOnwer(groupId) || !isGroupExpired(groupId))">
              <a (click)="openOrderConfirm(data)">点餐</a>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab>
        <ng-template #nzTabHeading>
          内容式菜单
        </ng-template>
        敬请期待！
      </nz-tab>
    </nz-tabset>
  </div>
</div>

<ng-template #order_dialog>
  <form nz-form [formGroup]="orderAddForm" (submit)="addOrder()">
    <div nz-row style="margin-bottom: 10px;">
      <div nz-col [nzSpan]="12">
        <label>你选择了</label>
        <span style="color: blue;font-size: 15px;margin-left: 5px;">{{selectedProduct.name}}</span>
      </div>
      <div nz-col [nzSpan]="12" style="text-align: right;">
        <span>数量：</span>
        <nz-input-number [nzMin]="1" formControlName="quantity"></nz-input-number>
      </div>
    </div>
    <div *ngIf="selectedProduct.product_options.length > 0" nz-row>
      <label>可选项：</label>
      <nz-radio-group formControlName="remark">
        <label *ngFor="let option of selectedProduct.product_options" nz-radio [nzValue]="option.option_name">
          <span>{{option.option_name}}</span>
        </label>
      </nz-radio-group>
    </div>
  </form>
</ng-template>
