<div class="main">
  <div class="group-block">
    <!-- 订单团列表 -->
    <div>
      <div class="block-title">订单团</div>
      <nz-spin *ngIf="groupLoading" [nzTip]="'正在读取订单团...'" style="text-align: center;"></nz-spin>
      <div *ngIf="!groupLoading && groups.length === 0" class="groups-none">
        不存在的
      </div>
      <ng-template ngFor let-group [ngForOf]="groups">
        <div class="group-item item-hover"
             [class.item-selected]="group.id === selectedGroup.id"
             (click)="selectGroup(group.id)">
          <div class="group-item-info">
            <div class="group-item-info-line">
              <nz-avatar nzSize="small" nzIcon="user" [nzSrc]="group.composer?.avatar_url || ''"></nz-avatar>
              <span style="margin-left: 10px;flex: 1;">{{group.composer?.username}}</span>
              <span *ngIf="selectedGroup.id && selectedGroup.id === group.id" class="price">￥{{selectedGroup.totalPrice}}</span>
            </div>
            <div class="group-item-info-line">
              <span class="group-item-name">{{group.name}}</span>
            </div>
            <div class="group-item-info-line">
              <nz-tag [nzColor]="'green'">征集中</nz-tag>
              <span>{{formatRemainTime(group.remainTime)}}</span>
            </div>
          </div>
          <div class="group-item-arrow">
            <i class="anticon anticon-right"></i>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="order-block">
    <!-- 订单列表 -->
    <div class="block-title">订单</div>
    <nz-spin *ngIf="orderLoading" [nzTip]="'正在读取订单...'" style="text-align: center;"></nz-spin>
    <div *ngIf="orders.length === 0" class="orders-none">
      不存在的
    </div>
    <ng-template ngFor let-order [ngForOf]="orders">
      <div class="order-item">
        <div class="order-item-user-line">
          <nz-avatar nzSize="small" nzIcon="user" [nzSrc]="order.user?.avatar_url || ''"></nz-avatar>
          <span class="order-username">{{order.user.username || order.user.nickname}}</span>
          <span class="price">￥{{order.totalPrice}}</span>
        </div>
        <ng-template ngFor let-row [ngForOf]="order.rows">
          <div class="order-item-line">
            <div class="order-remove">
              <a *ngIf="order.user.id === store.user?.id"
                 (click)="removeOrder(row.id)">
                <i class="anticon anticon-close"></i>
              </a>
            </div>
            <span class="order-name">{{row.product_name}}</span>
            <span class="order-quantity">× {{row.quantity}}</span>
          </div>
          <div *ngIf="row.remark" class="order-remark">
            <span>{{row.remark}}</span>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>

  <div class="product-block">
    <div class="block-title">菜单</div>
    <nz-spin *ngIf="products.length === 0" [nzTip]="'正在读取今日菜单...'" style="text-align: center;"></nz-spin>
    <card-menu *ngIf="products.length !== 0"
               [data]="products" (productSelect)="openOrderConfirm($event)"></card-menu>
  </div>
</div>

<ng-template #order_dialog>
  <form nz-form [formGroup]="orderAddForm" (submit)="addOrder()">
    <div nz-row style="margin-bottom: 10px;">
      <div nz-col [nzSpan]="12">
        <label>你选择了</label>
        <span style="color: blue;font-size: 15px;margin-left: 5px;">{{selectedProduct.name}}</span>
      </div>
      <div nz-col [nzSpan]="12" style="text-align: right;">
        <span>数量：</span>
        <nz-input-number [nzMin]="1" formControlName="quantity"></nz-input-number>
      </div>
    </div>
    <div *ngIf="selectedProduct.product_options.length > 0" nz-row>
      <label>可选项：</label>
      <nz-radio-group formControlName="remark">
        <label *ngFor="let option of selectedProduct.product_options" nz-radio [nzValue]="option.option_name">
          <span>{{option.option_name}}</span>
        </label>
      </nz-radio-group>
    </div>
  </form>
</ng-template>
